@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
.grid-container {
    background-color:#006778 ;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;    
    grid-template-areas:
    "area1 area1 area1 area1 area1 area1"
    "area2 area2 area2 area2 area2 area2"
    "area3 area3 area3 area5 area5 area5"
    "area3 area3 area3 area5 area5 area5"
    "area3 area3 area3 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area6 area6 area6 area6 area6 area6" 
    "area6 area6 area6 area6 area6 area6";
    } 
        #imagenPerfil{
     max-width: 100%;
            
        }
        #fotoPerfil{
          border-radius: 50% 50% ;        
          width: 32%;
          height: auto;
        }
        .card-title{
          margin-top: 10px;
          background-color: #0093AB;
          margin: 15px 10px 10px;
          border-radius: 15px;
          border: solid 2px gray;
         
        }
        #nombreDePerfil{
          margin: 15px 10px 10px;
          color: #ffff00;
          font-size: 40px;
          
        }
        #intro{
          margin: 30px 10px 10px;
          border-radius: 10px;
          border: solid 2px gray;
         
        }
        #info{
          margin: 15px 10px 10px;;
          border-radius: 5px;
          border: solid 2px gray;
          height: auto;
        }
        p{
          background-color:#0093AB;
          color: #7fffd4;

        }

 
  .item1 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area1;
    max-height: 400px;
   

  }
  .item2 {
    background-color:#006778 ;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area2;
  }
  
  .item3 {
    background: #0093AB;
    background-image: url(../img/banner2.png);
    text-align: center;
    border: yellow 2px solid;
    grid-area: area3;
  }
  .item4 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area4;
    background-image: url(../img/banner2.png);
  }
  .item5 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area5;
    background-image: url(../img/banner2.png);
  }
  .item6 {
    background: #006778;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area6;
    background-image: url(../img/header3.png);
  }
  #idiomas{
    background-color: #0093AB;
    color: #7fffd4;
    margin: 15px 10px 10px;
    border-radius: 10px;
  }
  .tituloIdioma{
    margin: 15px 10px 10px;
    color: #ffff00;
    background-color: #0093AB;
    font-size: 20px;
  }
 .accordion-button.collapsed{
    background-color: #006778;
    color: #7fffd4;
 }
 .acordion-button{
  background-color: #006778;
  width: 100%;
 }
 .accordion-body{
    background-color: #e6d171e6;
    color: #000;
    margin: 10px 15px 15px;
 }
 #collapseOne,#collapseTwo,#collapseThree {
  background-color: #006778;
 }
 .accordion-item{
  background-color: #006778;
 }
 
 #navbar-example2{
  background-color:floralwhite;
  text-decoration-color: #7fffd4;
  border: 1px solid #ffff00;
 }
 .navbar-toggler-icon{
  background-color: #0093AB;
  border-radius: 10px;
  
  
 }

 .navbar-brand {
  display: inline-block;
  padding: 10px 15px;
  font-size: 5px;
  font-family: roboto;
  cursor: pointer;
  text-align: center;	
  text-decoration:none;
  outline: none;
  background-color: #0093AB;
  border: 1px solid #FFFF00;
  border-radius: 15px;
  
}

.navbar-brand:hover {background-color: #7fffd4}

.navbar-brand:active {
  background-color: #006778;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#navbar-example2{
  background-image: url(../img/header4.png);
  background-color: #006778;
  border: solid 1px;
  color: #ffff00;
}
h8,h9,h10,h11,h12{
  color: #ffff00;
  background-color: #0093AB;
  border-radius: 5px; 
}
.dropdown-menu.show{
  background-color: #006778;
}
div>h6{
  color: #ffff00;
  background-color: #0093AB;
  font-size: 20px;
}
div>h5{
  color: #ffff00;
  background-color: #0093AB;
font-size: 20px;
}

h7{
  color: #ffff00;
  background-color: #0093AB;
}
.iconopie{
  width: 32px;
  height: 32px;
  gap: 1px;
  margin-top: 10px;
  
}
#pieTitulo{
  color: #ffff00;
  size: 15PX;
  margin: 10px 15px 15px;

} 
#btnPie{
  margin: 10px 15px 15px;
  display: flex;
  justify-content: flex-end;
}
 #pie{
  display: flex;
  flex-direction: initial;
  color: #7fffd4;
  font-size: 20px;
  text-align: center;
  width:100%;
 }