@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definición de grid  de 6 col * 10 filas separdas en 6 items para dispositivos de mas de 480px */

.grid-container {
    background-color:#006778 ;
    display: grid;
    grid-template-rows: repeat(10,auto);
    grid-template-columns:repeat(6,1fr);
    grid-gap: 5px;    
    grid-template-areas:
    "area1 area1 area1 area1 area1 area1"
    "area2 area2 area2 area2 area2 area2"
    "area3 area3 area3 area5 area5 area5"
    "area3 area3 area3 area5 area5 area5"
    "area3 area3 area3 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area6 area6 area6 area6 area6 area6" 
    "area6 area6 area6 area6 area6 area6";
    } 
 
   /*  Clasificación de items */

  .item1 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area1;
    max-height: 400px;
    background-image: url(../img/header3.png);
  }
  
  .item2 {
    background-color:#006778 ;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area2;
  }
  
  .item3 {
    background: #0093AB;
    background-image: url(../img/banner2.png);
    text-align: center;
    border: yellow 2px solid;
    grid-area: area3;
  }
  .item4 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area4;
    background-image: url(../img/banner2.png);
  }
  .item5 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area5;
    background-image: url(../img/banner2.png);
  }
  .item6 {
    background: #006778;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area6;
    background-image: url(../img/header3.png);
  }

  /* Estilos item 1 navbar */
 
 #navbar-example2{
  background-color:#006778;
  text-decoration-color: #7fffd4;
  border: 1px solid #ffff00;
  border-radius: 15px;
  
 }

 .navbar-toggler-icon{
  background-color: #0093AB;
  border-radius: 10px;
  font-weight:600; 
 }
.navbar.toggler{
  color:#ffff00
}
 #btnBurger{
  background: #0093AB;
  border-radius: 15px;
  font-size: 20px;
  border: solid 1px #ffff00;
  cursor: pointer;
  
 }
 .navbar-toggler-icon:hover { 
  background-color: #7fffd4;
  color: #FFFF00;
}

.navbar-toggler-icon:hover.active {

  background-color: #006778;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 .btnNav{

  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  font-size: 20px;
  font-family: roboto;
  cursor: pointer;
  text-decoration: none;
  text-align: center;	
  color: #ffff00;
  background-color: #0093AB;
  border: 1px solid #FFFF00;
  border-radius: 15px;
  margin: 0 5px 5px;

  
  
  
}

.btnNav:hover { 
  background-color: #7fffd4;
  color: #000;
}

.btnNav:hover.active {

  background-color: #006778;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#navbar-example2{
  background-image: url(../img/header4.png);
  background-color: #006778;
  border: solid 1px;
  color: #ffff00;
}

  /* Estilos de  item 3 info general */

.infoGral{
  
  color:#7fffd4;
  background-color: #006778;
  font-size: 30px;
  margin: 10px 15px 15px;
  border-radius: 15px;
  font-weight: 600;

}

  #imagenPerfil{
    width: 100%;
           
       }

       #fotoPerfil{
         margin-top: 10px;
         border-radius: 50% ;        
         width: 35%;
         height: auto;
       }

     .card-title{
         margin-top: 10px;
         background-color: #0093AB;
         margin: 15px 10px 10px;
         border-radius: 15px;
         border: solid 2px gray;
        }
  
       #nombreDePerfil{
         margin: 15px 10px 10px;
         color: #ffff00;
         font-size: 35px;
         border-radius: 15px;
         
       }

.iconoInfo {
  margin: 20px 10px 5px;
  color: #ffff00;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;    
}
.bi.bi-eye{
  margin: 10px 10px 0px;
}

.boton {

  color: #7fffd4;
  background-color: #0093AB;
  padding: .75em 1em; 
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content:center;
  font-size: 15px;
  margin: 10px;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif; 
}

.boton.cerrar {
  background-color: #0093AB;
  color: #000;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
  
  
}

.modal-centro {
  position:fixed;
  width: 40%;
  top: 40%;
  background-color: #006778;
  color: #7fffd4;
  font-size: 20px;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction:column;
  text-align: start;
  visibility:hidden;
  opacity: 0;
  transform: scale(.5);
  transition: .3s;
  box-shadow: 0 0 0 500vmax rgba(0, 0 ,0, .5);

}

.modal-centro.active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  gap: 2px;
}
i{
  margin-right: 10px;
}

       #intro{
         margin: 30px 10px 10px;
         border-radius: 15px;
         border: solid 2px gray;
         background-color: #0093AB;
         color: #7fffd4;
        
       }

       #info{
         margin: 15px 10px 10px;;
         border-radius: 15px;
         height: auto;
         border: solid 2px gray;
         background-color: #0093AB;
         font-size: 25px;
         color: #7fffd4;
       }

  /* Estilos item 4 experiencia idiomas  */   
       
  #idiomas{
    color: #7fffd4;
  }

  .tituloIdioma{
    margin: 15px 10px 10px;
    font-size: 30px;
    color: #7fffd4;
    background-color: #006778;
    font-weight: 600;
    border-radius: 15px;
  }

  .idiomasContenido{
    background-color: #0093AB;
    margin: 15px 10px 10px;
    border-radius: 10px;
    border: solid 2px gray;
   
  }

 #experienciaTitulo{
  color: #7fffd4;
  background-color: #006778;
  font-size: 30px;
  font-weight:600 ;
  border-radius: 15px;
  margin: 10px 10px 10px ;
  margin-bottom: 20px;

 }

 .accordion-button.collapsed{
    background-color: #0093AB;
    color: #ffff00;
 } 
 .accordion-button{
  background-color: #006778;
 }

 .accordion-body{
    background-color: #e6d171e6;
    color: #000;
    margin: 10px 15px 15px;
 }

 #collapseOne,#collapseTwo,#collapseThree {
  background-color: #006778;
 }
 
/* Estilos item 5 educación y conocimientos */


#eduTitulo{
 
  color:#7fffd4;
  background-color: #006778;
  font-size: 30px;
  margin: 10px 15px 15px;
  border-radius: 15px;
  font-weight: 600;
}

.instituto>p {
  color: #7fffd4;
  background-color: #0093AB;
  font-size: 20px;
  border-radius: 15px;
  margin: 5px 10px 10px;
  border: solid 2px gray;
}

.instituto>h5{
  font-size: 30px;
  margin: 10px 20px 20px 10px;
  color: #ffff00;
  font-weight: 600;
}
.conocimientosTitulo{
  margin: 15px 10px 10px ;
  color: #7fffd4;
  background-color: #006778;
  font-size: 30px;
  font-weight:600 ;
  border-radius: 15px;
}

#conocimiento{
         
  color: #7fffd4;
  border: solid 2px gray;
  border-top: solid 2px #ffff00;
 

}
.conocimientos>p{
  margin-top: 10px;
  background-color: #0093AB;
  margin: 15px 10px 10px;
  border-radius: 15px;
  border: solid 2px gray;
}

div>h6{
 font-size: 30px;
 color: #ffff00;
 font-weight: 600;
}

.dropdown-menu.show{
  background-color: #006778;
}


/* Estilos item 6 Footer  */

#pie{
  display: flex;
  color: #7fffd4;
  font-size: 20px;
  text-align: center;
  width:auto;
 }

 
#pieTitulo{
  color: #ffff00;
  margin: 10px 10px 15px;

} 
#btnPie{
  margin: 10px 15px 15px;
  display: flex;
  justify-content: flex-end;
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  font-family: roboto;
  cursor: pointer;
  text-align: center;	
  text-decoration:none;
  outline: none;
  color: #ffff00;
  background-color: #006778;
  border: 1px solid #FFFF00;
  border-radius: 15px;
}
#btnPie:hover{
  background-color: #7fffd4;
  color: #000;}
#btnPie.iconopie:hover.active{
  background-color: #006778;
  color: #000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
.iconopie{
  width: 32px;
  height: 32px;
  gap: 1px;
  margin-top: 10px;
  background-color: antiquewhite;
  background-size: 5px;
  border-radius: 15px;
  
}
.iconopie:hover {scale: 1.5;}
.iconopie:hover.active{
  background-color: #ffff00;
}
  
/* media query adaptacion para mobile*/

 @media screen and (max-width: 580px) and (min-width:351px){
 
  .grid-container{
 display: flex;
 flex-direction:column;
 }
 .iconopie{
  width: 16px;
  height: 16px;
  gap: 1px;
  margin-top: auto;
  background-color: antiquewhite;
  border-radius: 10px;
}
#btnPie{
  margin: auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  font-size: 10px;
}
.nav{
  display: flex;
  flex-direction:column;
  position:relative;
}
#navbar-example2{
  display: flex;
  flex-direction: column;
}

}

@media screen and (max-width:350px) and (min-width: 240px){

  .grid-container{
    display: flex;
    flex-direction:column;
    }

 .iconopie{

  width: 16px;
  height: 16px;
  gap: 1px;
  margin-top: auto;
  background-color: antiquewhite;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
#iconoPie{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(3,1fr) ;
  gap: 1px;
  margin: auto 10px auto;

}
#btnPie{
  
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: auto;
  font-size: 10px;
  margin: auto auto auto;
  
}
#pieTitulo{
  margin: 0px auto auto;
  font-size: auto;
}

}


 


