@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
.grid-container {
    background-color:#006778 ;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;    
    grid-template-areas:
    "area1 area1 area1 area1 area1 area1"
    "area2 area2 area2 area2 area2 area2"
    "area3 area3 area3 area5 area5 area5"
    "area3 area3 area3 area5 area5 area5"
    "area3 area3 area3 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area4 area4 area4 area5 area5 area5"
    "area6 area6 area6 area6 area6 area6" 
    "area6 area6 area6 area6 area6 area6";
    } 
        .imagenPerfil{
            width: max-content;
            
        }
        #fotoPerfil{
          border-top-right-radius: 100%;
          border-bottom-left-radius: 100%;
          border-bottom-right-radius: 100%;
          border-radius:100% ;
        
        }
        p{
          background-color: #006778;
          color: #7fffd4;

        }

 
  .item1 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area1;
    max-height: 400px;
   

  }
  .item2 {
    background-color:#006778 ;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area2;
  }
  
  .item3 {
    background: #0093AB;
    background-image: url(../img/banner2.png);
    text-align: center;
    border: yellow 2px solid;
    grid-area: area3;
  }
  .item4 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area4;
    background-image: url(../img/banner2.png);
  }
  .item5 {
    background: #0093AB;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area5;
    background-image: url(../img/banner2.png);
  }
  .item6 {
    background: #006778;
    text-align: center;
    border: yellow 2px solid;
    grid-area: area6;
    background-image: url(../img/header3.png);
  }
 .accordion-button.collapsed{
    background-color: #006778;
    color: #7fffd4;
 }
 .accordion-body{
    background-color: #e6d171e6;
    color: #000;
 }
 #navbar-example2{
  background-color:floralwhite;
  text-decoration-color: #7fffd4;
 }
 .navbar-toggler-icon{
  background-color: #0093AB;
  
  
 }

 .navbar-brand {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  font-family: roboto;
  cursor: pointer;
  text-align: center;	
  text-decoration:none;
  outline: none;
  text-decoration-color: #ffff00;
  background-color: #0093AB;
  border: 1px solid #000;
  border-radius: 15px;
  
}

.navbar-brand:hover {background-color: #7fffd4}

.navbar-brand:active {
  background-color: #006778;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 
 #pie{
  display: flex;
  flex-direction: initial;
  color: #7fffd4;
  font-size: 20px;
  text-align: center;
  

 }